{% extends 'base.html.twig' %}
{% block title %}
	Meilleur annonce


{% endblock %}
{% block header %}
	<h2>
		voici le header


	</h2>
{% endblock %}
{% block body %}
	<div class="container bg-light">
		<div class="jumbotron mt-3">
			<h1 class="display-4">
				Bienvenue dans le mirror!


			</h1>
			<p class="lead">
				Mise en relation de proprietaires et de locataires .


			</p>
			<hr class="my-4"/>
			<p>
				C'est par ici que l'on voyage.


			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">
					voir nos annonces


				</a>
			</p>
		</div>
		<h2>
			Nos locations Stars


		</h2>
		<div class="row mt-5">
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						chambres ,


						<strong>
							49&euro; /nuit


							<small>
								Pas encore noté


							</small>
						</strong>
					</div>
					<img src="https://via.placeholder.com/1000x400" style="height: 200px;width:100%;display:block"/>
					<div class="card-body">
						<h4 class="card-title">
							Appartement


						</h4>
						<p class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos    mollitia incidunt dolores animi pariatur, consequuntur unde                                                                                                                                                    voluptatem sint quaerat excepturi.


						</p>
						<a href="#" class="btn btn-secondary">
							more


						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						chambres ,


						<strong>
							49&euro; /nuit


							<small>
								Pas encore noté


							</small>
						</strong>
					</div>
					<img src="https://via.placeholder.com/1000x400" style="height: 200px;width:100%;display:block"/>
					<div class="card-body">
						<h4 class="card-title">
							Appartement


						</h4>
						<p class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos mollitia incidunt dolores animi pariatur, consequuntur unde voluptatem sint quaerat excepturi.


						</p>
						<a href="#" class="btn btn-secondary">
							more


						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						chambres ,


						<strong>
							49&euro; /nuit


							<small>
								Pas encore noté


							</small>
						</strong>
					</div>
					<img src="https://via.placeholder.com/1000x400" style="height: 200px;width:100%;display:block"/>
					<div class="card-body">
						<h4 class="card-title">
							Appartement


						</h4>
						<p class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos	mollitia incidunt dolores animi pariatur, consequuntur unde                                           																													voluptatem sint quaerat excepturi.


						</p>
						<a href="#" class="btn btn-secondary">
							more


						</a>
					</div>
				</div>
			</div>
		</div>
		<h2 class="h1 mt-3 mb-4">
			Nos proprietaires


		</h2>
		<div class="row">
			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="title">
							Dominique clement


						</h4>
						<hr>
						<div class="card-text">
							<img src="https://via.placeholder.com/1000x400" style="height: 200px;width:100%;display:block" class="float-left mr-3">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi recusandae similique aliquam excepturi? Quam mollitia in ratione veniam magnam molestiae.


							</p>
							<a href="#" class="btn btn-success float-right">
								en savoir plus


							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="title">
							Dominique clement


						</h4>
						<hr>
						<div class="card-text">
							<img src="https://via.placeholder.com/1000x400" style="height: 200px;width:100%;display:block" class="float-left mr-3">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi recusandae similique aliquam excepturi? Quam mollitia in ratione veniam magnam molestiae.


							</p>
							<a href="#" class="btn btn-success float-right">
								en savoir plus


							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>{% endblock %}
