{% extends "base.html.twig" %}

{% block title %}Création d'une commande
{% endblock %}


{% form_theme form 'ad/_collection.html.twig' %}
{% block body %}

	<div class="container">

		<h1>Créer une nouvelle annonce</h1>

		{{form_start(form)}}
		{{form_widget(form)}}


		<button class="btn btn-primary mt-3" type="submit">Créeer la nouvelle annonce
		</button>
		{{form_end(form)}}
	</div>
{% endblock %}


{# Commentaire->1.1 AdType.php
1) Le _ad_images_widget  correspond au nom de la classe de l input que l' on souhaite modifier car dans le fichier 
Adtype.php qui est lié avec le add de nom images voir le fichier avec le commentairre ,,
2)De plus le form widget en dessous ne represnete que le formualire ad car on est dans le block ad_image_widget
3) le tag form_theme permet d indiquer un theme specifique ^pour un formulaire qui est la configuration de notre form ad dans le adType  qui parce qu il aest dans le bloc ad_imagge docn c'est pouyr faire le lien 
 #}

{% block javascripts %}


	<script src="/js/ad.js"></script>
{% endblock %}
