{% extends 'base.html.twig' %}


{% block title %}Page non trouvée
{% endblock %}


{% block body %}
	<h1>Vous n'avez pas le droit d'acccer a cette ressource car c'est la vie men et vous eesayez d'abimer le site coquinou
	</h1>

	<a href="{{path('homepage')}}">Accueil</a>
{% endblock %}
