{% extends 'base.html.twig' %}


{% block title %}Page non trouvée
{% endblock %}


{% block body %}
	<h1>Page non trouvé men tu n'es pas bon indiana
	</h1>

	<a href="{{path('homepage')}}">Accueil</a>
{% endblock %}
